/* ArticleListStyles.css */

.articles-container {
    display: flex;
    flex-wrap: wrap;
}

.article-card {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}

.article-card .article-image {
    width: 30%;
    height: auto;
    margin-right: 10px;
    position: relative;
}

.article-card .article-image img {
    width: 100%;
    height: auto;
}

.article-card .article-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Style dla PIERWSZEGO artykułu */
.article-card.first-article {
    width: 100%; /* Pełna szerokość */
}

.article-card.first-article .article-image {
    width: 66.66%; /* 2/3 szerokości okna */
}

.article-card.first-article .article-image img {
    width: 100%;
    height: auto;
}

.article-card.first-article .article-details {
    text-align: center; /* Tekst na środku */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-card.first-article h3 {
    margin: 0; /* Resetujemy margines */
}

/* Style dla KOLEJNYCH artykułów */
.article-card:not(.first-article) .article-image {
    width: 30%; /* Dla kolejnych artykułów szerokość mniejsza */
}

.article-card:not(.first-article) .article-details {
    text-align: left; /* Tekst po lewej */
}

.article-card:not(.first-article) h3 {
    margin-top: 0; /* Usuwamy odstęp od góry */
}
